body{
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
h1{
  margin-top: 0;
  text-align: center;
}
p{
  text-align: center;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
}
